/* Mengatur tampilan seluruh halaman */
body {
    font-family: "Poppins", Sans-Serif;
    padding: 20px;
    background-color: #f0f2f5;
    text-align: center;
}

/* Mengatur kotak input */
input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 90px; /* Agar sudutnya melengkung */
    font-family: "Poppins";
    font-weight: 300;
}

button {
    padding: 10px 16.5px;
    margin: 5px;
    border: none;
    border-radius: 190px;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    background-color: #0056b3;
    transform: scale(0.95);
}

/* Mengatur tampilan hasil */
#hasil {
    font-size: 24px;
    color: #fff;
}

p {
   border: 1.7px solid #ccc;
    border-radius: 9px;
    height: 60px;
    align-content: center;
    background-color: #23272A;
}

/* AC */
.btn-ac {
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #ff4757;
  color: white;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

/* shadow */
.btn-ac {
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* press effect */
.btn-ac:active {
  transform: scale(0.96);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background-color: #ff6b81;
}

.ripple-material {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: rippleMat 0.6s ease-out;
  pointer-events: none;
}

@keyframes rippleMat {
  to {
    transform: translate(-50%, -50%) scale(6);
    opacity: 0;
  }
}

/* Buat class khusus untuk Dark Mode */
.dark-theme {
    background-color: #121212 !important;
    color: #ffffff !important;
}

/* Supaya kotak history juga ikutan gelap saat mode gelap aktif */
.dark-theme #history-container {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #444;
}

/* Gaya untuk list history agar rapi */
#history-list {
    list-list-style: none;
    padding: 0;
}
#history-list li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.download-apk {
   opacity: 69%;
}

.download-apk a {
   padding: 10px 16.5px;
    margin: 5px;
    border: none;
    border-radius: 190px;
    background-color: #74b615;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
   top: 7px;
   right: 10px;
   z-index: 999;
   animation: 0.9s;
}

.download-apk a:active {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background-color: #4a740e;
}